@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 86%;
    margin: 0 auto;
}


/*=================================
  container starts here
=================================*/

.modified-wrapper {
    width: 90%;
    margin: 0 auto;
}

:root {
    --tcolor: #45b39e;
}


/*=================================
  container ends here
=================================*/


/*=================================
  Header styling starts here
=================================*/

header {
    display: flex;
    justify-content: space-between;
}

.heading-wrap {
    display: flex;
    margin: 20px 0px;
}

.heading-wrap figure {
    width: 75px;
    height: 75px;
    margin: auto 5px;
    cursor: pointer;
}

.heading-wrap div {
    margin: auto 0px;
}

.heading-wrap div h1 {
    font-size: xx-large;
    text-decoration: none;
    cursor: pointer;
}

nav {
    margin: auto 0px;
}

nav ul li a {
    font-size: large;
    color: black;
    text-decoration: none;
    padding: .8rem 1rem;
}

nav ul li a:hover {
    background-color: var(--tcolor);
    color: white;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/

.banner-img {
    margin-bottom: 50px;
}

.part-1 {
    text-align: center;
    line-height: 3rem;
    margin-bottom: 30px;
}

.part-1 h2 {
    font-size: x-large;
}

.part-1 ul li button {
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--tcolor);
    color: white;
}

.part-1 ul li button:hover {
    background-color: whitesmoke;
    color: black;
}

.part2-grid {
    margin-bottom: 50px;
}

.part2-grid ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 50px;
}

.about-us {
    background-color: var(--tcolor);
}

.part1 {
    text-align: center;
    line-height: 3rem;
    margin-bottom: 30px;
    padding-top: 30px;
}

.part1 h2 {
    font-size: x-large;
}

.part2-peoples {
    display: flex;
}

.card-wrap {
    margin: 0px 40px 40px;
    background-color: white;
}

.card-wrap figure {
    position: relative;
}

.card-wrap figure img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 50%;
    visibility: hidden;
    opacity: 0.7;
}

.card-wrap h3 {
    text-align: center;
    font-size: larger;
    margin: 15px 0px auto;
}

.card-wrap i {
    display: block;
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
}

.card-wrap p {
    padding: 0px 5px;
}


/* ++++++++++ contact us++++++++++ */

.contact-us {
    padding-bottom: 40px;
    background-color: #F0F0F0;
}

.part2 {
    display: flex;
    flex-wrap: wrap;
}

.part2>div {
    flex: 50%;
}

form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    margin: 0px 5px;
}

form textarea {
    grid-column: 1 /span 2;
}

form textarea+input {
    grid-column: 2;
    width: 50%;
    margin-left: auto;
    border: none;
    outline: none;
    background-color: var(--tcolor);
    padding: 10px;
}

form textarea+input:hover {
    background-color: whitesmoke;
    color: black;
}

form textarea+input:active {
    background-color: green;
}

input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea:focus {
    border: 3px solid #555;
}

* {
    box-sizing: border-box;
}

.information {
    padding-left: 10px;
}

.information h3 {
    font-size: larger;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.information ul {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.information ul li {
    margin-left: 20px;
    position: relative;
}

.information ul li i {
    position: absolute;
    left: -18px;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.location::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
}

.telephone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1e4";
}

.fax::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1ac";
}

.email::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0e0";
}


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/

footer {
    background-color: rgb(45, 54, 82);
    color: white;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    position: relative;
}

.up-arrow::before {
    font-family: "Font Awesome 5 Free";
    font-weight: bolder;
    font-size: larger;
    content: "\f077";
}

.upArrow button {
    padding: 10px;
    border: none;
    color: white;
    outline: none;
    background-color: var(--tcolor);
}

.upArrow button:hover {
    background-color: whitesmoke;
    color: black;
}

.copyRight,
.upArrow {
    margin: auto 0px;
}


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {
    .part2-grid ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 50px;
    }
    .part2-peoples {
        display: flex;
        flex-wrap: wrap;
    }
    .part2>div {
        flex: 100%;
    }
    .upArrow {
        position: absolute;
        top: 0;
        right: 0;
    }
    .copyRight {
        margin: auto;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        max-width: 1800px;
        width: 80%;
        margin: 0 auto;
    }
}